/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  color: grey;
  background: #66cdaa;
}

textarea {
  min-height: 100px;
  min-width: 1000px;
  border-radius: 12px;
}

h3 {
  margin: 0.5em 0;
}

/* id */

#logo_1 {
  height: 35vh;
  width: 22vw;
  padding: 25px;
  margin-left: 525px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

/* class */

.to_lef {
  display: flex;
  align-items: flex-end;
  margin-left: 700px;
}

.title_page {
  color: #fff;
  padding: 24px 0px 38px 0px;
  letter-spacing: 0.5px;
  font-size: 72px;
  line-height: 1.17;
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 0;
  border: 0;
  display: block;
  text-align: center;
  box-sizing: content-box;
  box-sizing: border-box;
}

.text_container {
  outline: none;
  white-space: normal;
  margin-left: 400px;
  margin-right: 200px;
  padding: 0;
  padding-bottom: 30px;
  border: 0;
  width: 650px;
  height: 100px;
  overflow-wrap: break-word;
  display: block;
  text-align: center;
  box-sizing: content-box;
  box-sizing: border-box;
}

.text_page {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: normal;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;
}
