/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  color: grey;
  background-color: #fff;
}

textarea {
  min-height: 100px;
  min-width: 1000px;
  border-radius: 12px;
}

h3 {
  margin: 0.5em 0;
}

/* id */

#logo_1 {
  height: 35vh;
  width: 22vw;
  padding: 25px;
  margin-left: 525px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

#back_img {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  background-color: #66cdaa;
  opacity: 90%;
}

#logo_left {
  box-sizing: content-box;
  align-items: left;
  overflow-x: auto;
  background-color: #fff;
  max-width: 560px;
  display: inline-start;
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: auto;
}

#logo_2 {
  height: 560px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  box-sizing: border-box;
  display: block;
  cursor: auto;
}

#dec_right {
  background-color: #fff;
  max-width: 560px;
  display: inline-end;
  position: relative;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: auto;
  box-sizing: content-box;
  box-sizing: border-box;
}

#dec_center {
  background-color: #fff;
  max-width: 560px;
  display: flex;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: auto;
  box-sizing: content-box;
  box-sizing: border-box;
}

#separate_line {
  max-width: 50px;
  width: 100%;
  height: 3px;
  display: block;
  text-align: center;
  margin: 15px;
  margin-left: 16em;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  background-color: #038c5c;
}

#separate_line_s {
  align-self: center;
  max-width: 50px;
  width: 100%;
  height: 3px;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  background-color: #038c5c;
}

#text_wrapper_top {
  height: 560px;
  display: block;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  box-sizing: border-box;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 16px;
}

/* class */

.title_page {
  color: #fff;
  padding: 24px 0px 38px 0px;
  letter-spacing: 0.5px;
  font-size: 72px;
  line-height: 1.17;
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 0;
  border: 0;
  display: block;
  text-align: center;
  box-sizing: content-box;
  box-sizing: border-box;
}

.text_container {
  outline: none;
  white-space: normal;
  margin-left: 400px;
  margin-right: 200px;
  padding: 0;
  padding-bottom: 30px;
  border: 0;
  width: 650px;
  height: 100px;
  overflow-wrap: break-word;
  display: block;
  text-align: center;
  box-sizing: content-box;
  box-sizing: border-box;
}

.text_page {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: normal;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;
}

.body_blank {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  cursor: auto;
  color: grey;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.textAbout_page {
  font-size: 20px;
  outline: none;
  white-space: normal;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 0;
  width: 650px;
  height: 100px;
  overflow-wrap: break-word;
  display: block;
  text-align: center;
  cursor: auto;
  box-sizing: content-box;
  box-sizing: border-box;
}

.text_wrapper {
  height: 560px;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  box-sizing: border-box;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 16px;
}

.titleAbout_page {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding: 80px;
  border: 0;
  box-sizing: content-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  cursor: auto;
}

.text_container_la {
  font-size: 40px;
  outline: none;
  white-space: normal;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 0;
  width: 650px;
  height: 100px;
  overflow-wrap: break-word;
  display: block;
  text-align: center;
  cursor: auto;
  box-sizing: content-box;
  box-sizing: border-box;
}

.square_size_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-color: black;
}

.square_size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 650px;
  box-sizing: border-box;
  border-color: black;
}

.img_service {
  width: 650px;
  height: 650px;
}

/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .to_lef {
    display: flex;
    align-items: flex-end;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .to_lef {
    display: flex;
    align-items: flex-end;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .to_lef {
    display: flex;
    align-items: flex-end;
  }
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .to_lef {
    display: flex;
    align-items: flex-end;
  }
}
