/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  color: grey;
  background: turquoise;
}

textarea {
  min-height: 100px;
  min-width: 1000px;
  border-radius: 12px;
}

h3 {
  margin: 0.5em 0;
}

/* id */

#logo_1 {
  height: 35vh;
  width: 22vw;
  padding: 25px;
  margin-left: 525px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  text-align: center;
}

/* class */

.to_lef {
  display: flex;
  align-items: flex-end;
  margin-left: 700px;
}
