{% extends "brainSkills/layout.html" %}
{% load static %}

{% block body %}
  <div class="body_blank container-fuid row">
    <div class="col-lg-6" id="logo_left">
        {% comment %} <img src="{% static 'brainSkills/logo_1.png' %}" id="logo_2"> {% endcomment %}
        <h1 class="titleAbout_page">LEFT</h1>
    </div>
    <div class="col-lg-6" id="dec_right">
      <div class="text_wrapper">
        <h1 class="titleAbout_page">About our company</h1>
        <div class="text_container">
          <p class="textAbout_page">BrainSkills started 15 years ago, when Soledad, our co-founder started her career as an English teacher. Her passion, willingness to teach, and experience helped succeed many kids who were having problems at school due to the lack of knowledge in this language. Soledad, along with Carina, who lives in New York had the idea of utilizing their knowledge and share it with others, everywhere. Both have English as a second language, and know the importance of enjoying while you are learning, keeping it simple, focusing, and reaching goals.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
