{% extends "brainSkills/layout.html" %}
{% load static %}

{% block body %}
<div class="row">
  <div class="col-6 col-md-4 square_size_mid"></div>
  <div class="col-6 col-md-4 square_size_mid" style="background-color: #fff"></div>
  <div class="col-6 col-md-4 square_size_mid"></div>
</div>
<div class="row">
  <div class="col-6 col-md-4 square_size_up">
    <div style="align-self: center">
      <h4 class="titleAbout_page" style="color: #grey; align-self: center">New York</h4><br><h2 style="color: #black">+1 ( 917 ) 387 5824</h2>
    </div>
  </div>
  <div class="col-6 col-md-4 square_size_up" style="background-color: #fff">
    <img src="{% static 'brainSkills/logo_1.png' %}" id="logo_1">
  </div>
  <div class="col-6 col-md-4 square_size_up">
    <div style="align-self: center">
      <h4 class="titleAbout_page" style="color: #grey; align-self: center">Quito</h4><br><h2 style="color: #black">+593 999 250 040</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4 square_size">Facebook</div>
  <div class="col-6 col-md-4 square_size" style="background-color: #fff">
    <div style="align-self: center">
      <h2 class="titleAbout_page" style="color: #grey; align-self: center">brainSkills7@gmail.com</h2>
    </div>
  </div>
  <div class="col-6 col-md-4 square_size">Instagram</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
