{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="row">
  <div class="col-6 col-md-4 square_size_mid"></div>
  <div class="col-6 col-md-4 square_size_mid"></div>
</div>

<div class="container" style="background-color: #fff">
  <div class="jumbotron" style="background-color: #fff">
    <div class="row">
      <div class="col-6 col-md-4 square_size_mid"></div>
      <div class="col-md-6 col-lg-4 col-xl-3 square_size_mid">
        <div class="col-6 col-md-4 square_size_mid">
          <h2 class="titleAbout_page" style="color: #grey; align-self: center">
            brainSkills7@gmail.com
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-xl-3"
        style="background-color: transparent"
      >
        <h2></h2>
        <p></p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div
          class="col-md-6 col-lg-4 col-xl-3 square_size"
          style="background-color: #fff"
        >
          <img
            src="{% static 'brainSkills/logo_1.png' %}"
            class="img_service"
          />
        </div>
      </div>

      <div class="col-md-6 square_size" style="background-color: #fff">
        <form method="post">
          {% csrf_token %}
          <div class="input_group">
            <div class="input_block">
              <p>
                Please make sure to include your name and phone number in your
                message in order for us to contact you.
              </p>
              <input
                type="text"
                id="e_address"
                name="e_address"
                class="input_rule align-self-center"
                placeholder="From: Your Email Address"
                style="color: #000000; border: 1px solid #8c8c8c"
              />
            </div>
          </div>

          <div class="input_group">
            <div class="input_block">
              <input
                type="text"
                id="message"
                name="message"
                class="input_rule align-self-center"
                placeholder="Write Your Message"
                style="color: #000000; border: 1px solid #8c8c8c"
              />
            </div>
          </div>
          <input
            id="w_message"
            name="w_message"
            type="submit"
            value="Contact Me"
            class="btn btn-primary"
            style="
              background-color: #038c5c;
              margin-top: 15px;
              align-self: center;
              margin-left: 200px;
            "
          />

          <div class="input_group">
            <div class="input_block"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-xl-3"
        style="background-color: transparent"
      >
        <h2></h2>
        <p></p>
      </div>

      <div
        class="col-md-6 col-lg-4 col-xl-3 square_size"
        style="background-color: #fff"
      >
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h4 class="titleAbout_page">Quito</h4>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                <h4>+593 999 250 040</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 col-xl-3 square_size"
        style="background-color: #fff"
      >
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h4 class="titleAbout_page">NY</h4>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                <h4>+1 ( 917 ) 387 5824</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <footer>
    <div class="row">
      <div class="col-md-6">
        <p>Copyright © 2020 BrainSkills</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a
          href="https://www.facebook.com/BrainSkills-English-courses-102009591566955"
          class="text-dark"
          >Instagram</a
        >
        <span class="text-muted mx-2">|</span>
        <a
          href="https://www.facebook.com/BrainSkills-English-courses-102009591566955"
          class="text-dark"
          >Facebook</a
        >
        <span class="text-muted mx-2">|</span>
        <a href="#" class="text-dark">Terms of Use</a>
        <span class="text-muted mx-2">|</span>
        <a href="#" class="text-dark">Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>
{% endblock %} {% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
