{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE+edge">
<meta name="viewport" content= "width+device-width, initial-scale=1.0">
<meta name+"description" content>
<meta name="author" content>
<title>BrainSkills</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{% static 'brainSkills/style.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'brainSkills/favicon.ico' %}" />
{% block script%}
{% endblock %}
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">BrainSkills</a>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
              <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Student</strong></a>
                    </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
              </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log Out</a>
                    </li>

                     <li class="nav-item">
                         <a class="nav-link" href="#">Log In</a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Register</a>
                    </li>
               </ul>
             </div>
          </nav>
        <div class="body">
            {% block body %}
            <div class="ui container-fluid" id="logo">
                <img src="{% static 'brainSkills/logo_1.png' %}" id="logo_1">
            </div>
            {% endblock %}
        </div>
    </body>
<script></script>
</html>
