{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="row">
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
  <div class="col-12 col-sm-6 col-md-8" style="background-color: #ededed"></div>
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
</div>
<div class="row">
  <div class="col-6 square_size" style="background-color: #ffff">
    <div
      class="container align-self-center"
      id="dec_center"
      style="background-color: #ededed"
    >
      <div id="text_wrapper_top">
        {% if user.is_authenticated %}
        <h1 class="titleAbout_page">Hello {{ user.username }}!</h1>
        {% endif %}
        <div class="input_group">
          <div class="input_block">
            <h2>You are register as a teacher</h2>
            <h3>Email: {{teacher.user.email}}</h3>
          </div>
        </div>

        <hr id="separate_line_s" />
        <div class="textAbout_page_la">
          Please do not hesitate to contact us if you would like to receive more
          information. We are here for you!
        </div>

        <button
          type="submit"
          id="takeAction"
          class="btn btn-primary"
          style="background-color: #038c5c; margin-top: 15px"
        >
          Take Action
        </button>
      </div>
      {% if message %}
      <div>{{ message }}</div>
      {% endif %}
    </div>
  </div>
  <div class="col-6 square_size" style="background-color: #ffff">
    <form method="post">
      {% csrf_token %}

      <div class="input_group">
        <div class="input_block">
          <h4>Edit email address</h4>
          <input
            type="email"
            name="email"
            class="input_rule"
            placeholder="Your Email"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <h4>Reset password</h4>
          <input
            type="password"
            name="password"
            class="input_rule"
            placeholder="Password"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
          <input
            type="password"
            name="con_pass"
            class="input_rule"
            placeholder="Confirm Password"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <h4>Student List</h4>
          {% for student in students%}
          <h6>{{ student.user.username}}</h6>
          {% endfor %}
        </div>
      </div>

      <button
        type="submit"
        id="edit_teacher"
        class="btn btn-primary"
        style="background-color: #038c5c; margin-top: 15px"
      >
        Save
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4"></div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
