{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="row">
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
  <div class="col-md-6 col-lg-4" style="background-color: #ededed">
    <div
      class="container align-self-center"
      id="dec_center"
      style="background-color: #ededed"
    >
      <div id="text_wrapper_top">
        <h1 class="titleAbout_page">Our services</h1>
        <hr id="separate_line_s" />
        <div class="textAbout_page_la">
          BrainSkills offers custom online classes focusing on your weakness in
          the English language. Due to a previous evaluation, the instructors
          apply the best methodology for the student's needs.
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
</div>


<div class="container" style="background-color: #fff">
  <div class="jumbotron" style="background-color: #fff">

    <div class="row">
      <div class="col-6 col-md-4 square_size_mid"></div>
      <div class="col-md-6 col-lg-4 col-xl-3 square_size_mid">
        <div class="col-6 col-md-4 square_size_mid"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" style="background-color: transparent">
        <h2></h2>
        <p>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div
          class="col-md-6 col-lg-4 col-xl-3 square_size"
          style="background-color: #fff"
        >
          <img src="{% static 'brainSkills/on_to_1.jpg' %}" class="img_service" />
        </div>
      </div>

      <div class="col-md-6  square_size" style="background-color: #fff">
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h1 class="titleAbout_page">On on one - online</h1>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                In an hour class, according to the level of the student. The class
          will be divided in conversation, writing, and grammar. In this class,
          the student will learn the skills for speaking English. The class will
          focus on pronunciation, use of idioms, correct use of verbs, and
          nouns. All those techniques will help the student gain confidence and
          fluency once developing in English.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" style="background-color: transparent">
        <h2></h2>
        <p>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div
          class="col-md-6 col-lg-4 col-xl-3 square_size"
          style="background-color: #fff"
        >
          <img src="{% static 'brainSkills/up_to_6.jpg' %}" class="img_service" />
        </div>
      </div>

      <div class="col-md-6  square_size" style="background-color: #fff">
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h1 class="titleAbout_page">Groups 2 up to 6 - online</h1>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                Focusing on grammar, writing, and conversation. The hour class will
          provide an average level according to the level of all participants.
          Gaining vocabulary, pronunciation, grammar, reading comprehension, and
          writing. Improving their English skills along with the group.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3" style="background-color: transparent">
        <h2></h2>
        <p>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div
          class="col-md-6 col-lg-4 col-xl-3 square_size"
          style="background-color: #fff"
        >
          <img src="{% static 'brainSkills/in_person.jpg' %}" class="img_service" />
        </div>
      </div>

      <div class="col-md-6  square_size" style="background-color: #fff">
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h1 class="titleAbout_page">In Person</h1>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                Supporting the needs of each person, providing linguistic information
          who is studying the language, knowing how you learn best and using
          those methods to study, increasing and expanding each need and
          understanding(speaking, listening, reading, and writing) working in a
          one to one, improving english skills you already have and the ones you
          want.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    </div>
    <hr />
    <footer>
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2020 BrainSkills</p>
        </div>
        <div class="col-md-6 text-md-right">
          <a
            href="https://www.facebook.com/BrainSkills-English-courses-102009591566955"
            class="text-dark"
            >Instagram</a
          >
          <span class="text-muted mx-2">|</span>
          <a
            href="https://www.facebook.com/BrainSkills-English-courses-102009591566955"
            class="text-dark"
            >Facebook</a
          >
          <span class="text-muted mx-2">|</span>
          <a href="#" class="text-dark">Terms of Use</a>
          <span class="text-muted mx-2">|</span>
          <a href="#" class="text-dark">Privacy Policy</a>
          </div>
      </div>
    </footer>
  </div>
  {% endblock %} {% block script %}
  <script src="{% static 'brainSkills/main.js' %}"></script>
  {% endblock %}
</div>
