{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="row">
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
  <div class="col-12 col-sm-6 col-md-8" style="background-color: #ededed"></div>
  <div class="col-6 col-md-4" style="background-color: #ededed"></div>
</div>
<div class="row">
  <div class="col-6 square_size" style="background-color: #ffff">
    <div
      class="container align-self-center"
      id="dec_center"
      style="background-color: #ededed"
    >
      <div id="text_wrapper_top">
        {% if user.is_authenticated %}
        <h1 class="titleAbout_page">Hello {{ user.username }}!</h1>
        {% else %}
        <h1 clas="titleAbout_page">Fill out the following form</h1>
        {% endif %}
        <hr id="separate_line_s" />
        <div class="textAbout_page_la">
          Please do not hesitate to contact us if you would like to receive more
          information. We are here for you!
        </div>

        <div class="ui container-fluid" id="logo">
          <img src="{% static 'brainSkills/logo_1.png' %}" id="logo_1" />
        </div>
      </div>
      {% if message %}
      <div>{{ message }}</div>
      {% endif %}
    </div>
  </div>
  <div class="col-6 square_size" style="background-color: #ffff">
    <form method="post">
      {% csrf_token %}
      <div class="input_group">
        <div class="input_block">
          <h1>You will be register as student</h1>
        </div>
      </div>
      <div class="input_group">
        <div class="input_block">
          <input
            type="text"
            name="full_name"
            class="input_rule"
            id="exampleInputFullName"
            aria-describedby="emailHelp"
            placeholder="Your Full Name"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <input
            type="email"
            name="email"
            class="input_rule"
            placeholder="Your Email"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <input
            type="password"
            name="password"
            class="input_rule"
            placeholder="Password"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <input
            type="password"
            name="con_pass"
            class="input_rule"
            placeholder="Confirm Password"
            style="color: #000000; border: 1px solid #8c8c8c"
          />
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <h4>Service</h4>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="services">Options</label>
        </div>
        <select name="services" class="custom-select" id="services">
          <option selected>Choose...</option>
          <option value="1">One on One - online</option>
          <option value="2">Group 2 up to 6 - online</option>
          <option value="3">In Person</option>
        </select>
      </div>

      <div class="input_group">
        <div class="input_block">
          <h4>Level</h4>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="levels">Options</label>
        </div>
        <select name="levels" class="custom-select" id="levels">
          <option selected>Choose...</option>
          <option value="1">Beginner</option>
          <option value="2">Intermediate</option>
          <option value="3">Advance</option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="background-color: #038c5c; margin-top: 15px"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4"></div>
  <div class="col-6 col-md-4"></div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
