{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="container container-fluid">
  <br /><br />
  <section class="container container-fluid">
    <div class="row">
      <div
        class="col-sm-6 col-md-6 col-lg-6 col-xl-6 square_size"
        style="background-color: #fff"
      >
        <img
          src="{% static 'brainSkills/logo_1.png' %}"
          class="img_service img-fluid img-responsive"
        />
      </div>

      <div
        class="col-sm-6 col-md-6 col-lg-6 col-xl-6 square_size"
        style="background-color: #fff"
      >
        <div class="container align-self-center" id="dec_center">
          <div id="text_wrapper_top">
            <h1 class="titleAbout_page">About our company</h1>
            <hr id="separate_line_s" />
            <div class="container">
              <div class="textAbout_page_la">
                BrainSkills started 15 years ago, when Soledad, our co-founder
                started her career as an English teacher. Her passion,
                willingness to teach, and experience helped succeed many kids
                who were having problems at school due to the lack of knowledge
                in this language. Soledad, along with Carina, who lives in New
                York had the idea of utilizing their knowledge and share it with
                others, everywhere. Both have English as a second language, and
                know the importance of enjoying while you are learning, keeping
                it simple, focusing, and reaching goals.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-6-col-6 col-md-4 square_size_top"></div>
    <div class="col-sm-6-col-6 col-md-4 square_size_top"></div>
    <div class="col-sm-6-col-6 col-md-4 square_size_top"></div>
    <div class="col-sm-6-col-6 col-md-4 square_size_top"></div>
  </div>
  <hr />
  <footer>
    <div class="row">
      <div class="col-md-6">
        <p>Copyright © 2020 BrainSkills</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a
          href="https://www.instagram.com/brain_skills/?hl=es"
          class="text-dark"
          >Instagram</a
        >
        <span class="text-muted mx-2">|</span>
        <a
          href="https://www.facebook.com/BrainSkills-English-courses-102009591566955"
          class="text-dark"
          >Facebook</a
        >
        <span class="text-muted mx-2">|</span>
        <a href="#" class="text-dark">Terms of Use</a>
        <span class="text-muted mx-2">|</span>
        <a href="#" class="text-dark">Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>

{% endblock %} {% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
