{% extends "brainSkills/layout.html" %} {% load static %} {% block body %}
<div class="row">
  <div class="col-6 col-md-4" style="background-color: #fff"></div>
  <div class="col-12 col-sm-6 col-md-8" style="background-color: #ffff"></div>
  <div class="col-6 col-md-4" style="background-color: #fff"></div>
</div>
<div class="row">
  <div class="col-md-6   square_size" style="background-color: #ffff">
    <form method="post">
      {% csrf_token %}
      <div
        class="container align-self-center"
        id="dec_center"
        style="background-color: #ededed"
      >
      <div id="text_wrapper_top">
        {% if user.is_authenticated %}
        <h1 class="titleAbout_page">Hello {{ user.username }}!</h1>
        {% endif %}
        <div class="input_group">
          <div class="input_block">
            <h2>You are register as a teacher</h2>
          </div>
        </div>

        <div class="input_group">
        <div class="input_block">
          <h4>Please select a schedule for your course</h4>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="courses">Options</label>
        </div>
        <select name="courses" class="custom-select" id="courses">
          <option selected>Choose...</option>
          <option value="1">Monday - Wednesday - Friday (09:00 - 09:45)</option>
          <option value="2">Tuesday - Thursday (09:00 - 09:45)</option>
          <option value="3">
            Tuesday - Wednesday - Thursday (09:00 - 09:45)
          </option>
          <option value="4">Monday - Wednesday - Friday (10:00 - 10:45)</option>
          <option value="5">Tuesday - Thursday (10:00 - 10:45)</option>
          <option value="6">
            Tuesday - Wednesday - Thursday (10:00 - 10:45)
          </option>
          <option value="7">Monday - Wednesday - Friday (11:00 - 11:45)</option>
          <option value="8">Tuesday - Thursday (11:00 - 11:45)</option>
          <option value="9">
            Tuesday - Wednesday - Thursday (11:00 - 11:45)
          </option>
          <option value="10">
            Monday - Wednesday - Friday (14:00 - 14:45)
          </option>
          <option value="11">Tuesday - Thursday (14:00 - 14:45)</option>
          <option value="12">
            Tuesday - Wednesday - Thursday (14:00 - 14:45)
          </option>
          <option value="13">
            Monday - Wednesday - Friday (15:00 - 15:45)
          </option>
          <option value="14">Tuesday - Thursday (15:00 - 15:45)</option>
          <option value="15">
            Tuesday - Wednesday - Thursday (15:00 - 15:45)
          </option>
          <option value="16">
            Monday - Wednesday - Friday (16:00 - 16:45)
          </option>
          <option value="17">Tuesday - Thursday (16:00 - 16:45)</option>
          <option value="18">
            Tuesday - Wednesday - Thursday (16:00 - 16:45)
          </option>
          <option value="19">
            Monday - Wednesday - Friday (17:00 - 17:45)
          </option>
          <option value="20">Tuesday - Thursday (17:00 - 17:45)</option>
          <option value="21">
            Tuesday - Wednesday - Thursday (17:00 - 17:45)
          </option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="background-color: #038c5c; margin-top: 15px"
      >
        Submit
      </button>

        <hr id="separate_line_s" />
        <div class="textAbout_page_la">
          Please do not hesitate to contact us if you would like to receive more
          information. We are here for you!
        </div>
      </div>

      {% if message %}
      <div>{{ message }}</div>
      {% endif %}
      </form>
    </div>
  </div>
  <div class="col-md-6 square_size" style="background-color: #ffff">
    <form>
      <div class="input_group">
        <div class="input_block">
          <h4>Here is the information you might need</h4>
        </div>
      </div>

      <div class="input_group">
        <div class="input_block">
          <h4>Messages from students to handle</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Student</th>
                <th scope="col"></th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for message in messages%}
                <tr>
                <td scope="row">{{ message.owner}}</td>
                <td >{{message.content}}</td>
                <td >{{ message.timestamp}}</td>
                </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-6 square_size" style="background-color: #ffff">
  <div class="col-md-6 square_size" style="background-color: #ffff">
  <div class="input_group">
        <div class="input_block">
          <h4>Student's contact</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Student</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                <td scope="row">{{ student.user.username }}</td>
                <td >{{student.user.email }}</td>
                </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>
      </div>
  </div>
</div>


{% endblock %} {% block script %}
<script src="{% static 'brainSkills/main.js' %}"></script>
{% endblock %}
